* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background: url(images/background.jpg);
     background-size: 100%;
     background-attachment:fixed; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
       margin-right: 10%;
    margin-left: 10%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.navbar{
    text-align: center;
    width: 100%;
    background-color: #060925;
}

ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #060925;
}

li {
    float:left; 
    display: inline;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #060925;
}

a:hover:not(.active) {
    background-color: #16172B;
}

.active {
background-color:#0D3829;
}

header {
    font-family: Peas Sans;
    margin-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    padding-top: 0;
}



article {
    margin-top: 1%;
    text-align: justify;
}

.rowColor{
     float:left;
    width: 100%;    
    border-radius: 5px;
    background-color: #B7B9D19A;
    padding: 2%;
    padding-top: 0;
    margin-top: 2%;
    padding-top: 0px; 
    margin-right: 2%;
    padding-top: 2%
}

.img {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    float: left;
    margin-right: 14px;
    background-color: #ddd;
}

#map{
    margin:1%;
}

.aboutImg {
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #ddd;
}

.col-4{
    float:left;
    width: 31%;    
    border-radius: 5px;
    background-color: #B7B9D19A;
    margin-top: 2%;
    padding-top: 0px; 
    /*
    padding: 2%;
    margin-right: 2%;
    */
    padding-top: 2%
}

.col-5{
    float:left;
    width: 49%;    
    border-radius: 5px;
    background-color: #B7B9D19A;
    margin-top: 2%;
    padding-top: 0px; 
    /*
    padding: 2%;
    margin-right: 2%;
    */
    padding-top: 2%
}

.stockImg{
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    width: 98%;
    margin-top: 7%;
}

.button{
    width: 100%;
    background-color: #0D3829;
    color: white;
    padding: 14px 20px;  
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #429B7C;
}

[class*="col-"] {
    width: 75%;
}

.field{
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media screen and (max-width: 600px){
    ul.nav li.right, 
    ul.nav li {float: none;}
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    background-color: #060925;
    padding: 10px;

}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 30%;}
    .col-5 {width: 48%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tbody {
    border: 1px solid #DDDDDD8A;
    padding: 8px;
}

.trbody:nth-child(even) {
    background-color: #DDDDDD8A;